<a class="skip-to-content-link screen-reader-link" href="#main">
  Skip to content
</a>
<a class="skip-to-content-link screen-reader-link" href="/pages/accessibility-statement-and-assistance">
  Click here for more information on our Accessibility policy
</a>

<style>
  .screen-reader-link { 
    left: 30px;
    padding: 8px;
    position: absolute;
    transform: translateY(-150%);
    transition: transform 0.3s;
    font-size: 14px;
  }

  .screen-reader-link:focus {
    transform: translateY(0%);
  }
</style>