<div class="social-giveaway__wrapper">
  <div class="social-giveaway__hero">
    <div class="sg__hero--left">
      <div class="sg__hero--left-inner">
        <h2>Season of Giving<br>Giveaway</h2>
        <p>Win over $4,200 in prizes for your baby, including a Babyzen Stroller, 4Moms mamaRoo sleep bassinet, Hellp Bello Diaper bundle, Nestig Crib, Lily Jade Diaper Bag, Baby Brezza Formula Pro Advanced, LILLEbaby Carriers, Minted Gift Card, Nanit Monitoring System and $660 Modern Layette from Monica + Andy. It's the dream team of baby essentials, all for FREE!</p>
        <button class="btn btn--borderless">Enter Now</button>
      </div>
    </div>
    <div class="sg__hero--right">
      <img src="https://cdn.shopify.com/s/files/1/0140/8847/0614/files/111820_Web_Ecomm_Giveaway_desktop_hdr.jpg?v=1605035149" class="hidden-xs" />
      <img src="https://cdn.shopify.com/s/files/1/0140/8847/0614/files/111820_Web_Ecomm_Giveaway_mobi_hdr.jpg?v=1605041174" class="visible-xs-block" />
    </div>
  </div>
  <div class="social-giveaway__main">
    <div class="sg-main__header">
      <h2>Participating Brands</h2>
      <p>We've partnered with these incredible brands to offer their beloved baby and mom products - all for free!</p>
    </div>
    <div class="sg-main__grid-wrapper">
      <div class="sg-main__grid">
        <img src="https://cdn.shopify.com/s/files/1/0140/8847/0614/files/111820_Web_Ecomm_Giveaway_FPO_brand.jpg?v=1605039673" class="sg-main__brand-image" />
        <p class="sg-main__brand-name">Brand Name</p>
        <p class="sg-main__brand-statement">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Curabitur sit amet mauris scelrisque, interdum erat sed, daphibus ipsum.</p>
      </div>
      <div class="sg-main__grid">
        <img src="https://cdn.shopify.com/s/files/1/0140/8847/0614/files/111820_Web_Ecomm_Giveaway_FPO_brand.jpg?v=1605039673" class="sg-main__brand-image" />
        <p class="sg-main__brand-name">Brand Name</p>
        <p class="sg-main__brand-statement">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Curabitur sit amet mauris scelrisque, interdum erat sed, daphibus ipsum.</p>
      </div>
      <div class="sg-main__grid">
        <img src="https://cdn.shopify.com/s/files/1/0140/8847/0614/files/111820_Web_Ecomm_Giveaway_FPO_brand.jpg?v=1605039673" class="sg-main__brand-image" />
        <p class="sg-main__brand-name">Brand Name</p>
        <p class="sg-main__brand-statement">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Curabitur sit amet mauris scelrisque, interdum erat sed, daphibus ipsum.</p>
      </div>
      <div class="sg-main__grid">
        <img src="https://cdn.shopify.com/s/files/1/0140/8847/0614/files/111820_Web_Ecomm_Giveaway_FPO_brand.jpg?v=1605039673" class="sg-main__brand-image" />
        <p class="sg-main__brand-name">Brand Name</p>
        <p class="sg-main__brand-statement">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Curabitur sit amet mauris scelrisque, interdum erat sed, daphibus ipsum.</p>
      </div>
      <div class="sg-main__grid">
        <img src="https://cdn.shopify.com/s/files/1/0140/8847/0614/files/111820_Web_Ecomm_Giveaway_FPO_brand.jpg?v=1605039673" class="sg-main__brand-image" />
        <p class="sg-main__brand-name">Brand Name</p>
        <p class="sg-main__brand-statement">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Curabitur sit amet mauris scelrisque, interdum erat sed, daphibus ipsum.</p>
      </div>
      <div class="sg-main__grid">
        <img src="https://cdn.shopify.com/s/files/1/0140/8847/0614/files/111820_Web_Ecomm_Giveaway_FPO_brand.jpg?v=1605039673" class="sg-main__brand-image" />
        <p class="sg-main__brand-name">Brand Name</p>
        <p class="sg-main__brand-statement">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Curabitur sit amet mauris scelrisque, interdum erat sed, daphibus ipsum.</p>
      </div>
    </div>
    <div class="sg-main__enter-wrapper">
      <button class="btn btn--borderless red">Enter Now</button>
      <div class="klaviyo-form-R6T9dH"></div>
    </div>
  </div>
</div>

<style>
  .btn--borderless {
    border: 0;
    min-width: 200px;
  }
  .btn--borderless::before, .btn--borderless::after{
    border: 0 !important;
  }

  .social-giveaway__hero {
    display: flex;
    flex-wrap: wrap;
  }
  .sg__hero--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    flex-basis: 50vw;
    background: #dc2d3d;
    color: white;
  }

  .sg__hero--left-inner  {
    max-width: 30vw;
    text-align: center;
  }
  .sg__hero--left-inner p {
    font-size: .8em;
  }
  .sg__hero--left-inner .btn {
    color: #245f40;
    margin-top: 4em;
  }

  .sg__hero--right img {
    width: 50vw;
  }
/* -------------------- */
  .social-giveaway__main {
    max-width: 1200px;
    margin: 0 auto;
  }
  .social-giveaway__main p, .social-giveaway__main h2 {
    color: #245f40;
  }

  .sg-main__header {
    max-width: 700px;
    margin: 3em auto;
    text-align: center;
  }
  .sg-main__grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
  }

  .sg-main__grid {
    flex-basis: 33.33%;
    width: 33.33%;
    padding: 20px;
  }

  .sg-main__brand-image {
    width: 100%;
  }

  .sg-main__brand-name {
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: .2em;
  }

  .sg-main__brand-statement {
    font-size: .8em;
  }

  .sg-main__enter-wrapper {
    text-align: center;
    margin: 4em;
  }

  .sg-main__enter-wrapper .red {
    color: #fff;
    background: #dc2d3d;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .sg__hero--left-inner h2 {
      font-size: 4vw;
    }

    .sg__hero--left-inner p {
      font-size: 1.2vw;
    }
  }

  @media screen and (max-width: 767px) {
    .sg__hero--left, .sg__hero--right img {
      flex-basis: 100vw;
      width: 100vw;
    }
    .sg__hero--left-inner {
      max-width: 75vw;
      margin: 10vw;
    }

    .sg-main__grid {
      flex-basis: 100%;
      width: 100%;
    }
  }
</style>