/* Collections Page -------------- */

.collection__head {
  background-color: #084b6d;
  color: #fff;
}

.collection__items {
  padding: 20px;
  margin-bottom: 20px;
  background: unset;

  .product__item {
    .icons {
      position: absolute;
    }

    del.price__amount {
      margin-right: 10px;
      font-weight: normal;
      font-size: 14px;
      text-decoration: none;
    }

    ins.price__amount {
      text-decoration: none;
    }
  }

  .product__item-link {
    padding: 28px 0 48px;

    .overlay_image {
      .product__item-image {
        margin-top: 37px;
      }
    }
  }

  .double-slot {
    max-width: 50%;
    flex-basis: 50%;
    padding: 25px !important;
    padding-top: 35px !important;
    align-content: center !important;

    img {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
    }
  }

  .stamped-product-reviews-badge {
    margin-bottom: 10px;
    margin-top: -6px;
  }

  .product__item-content-block {
    align-content: baseline;
    padding-top: 15px;
  }

  .collection__content-block {
    padding: 20px 0;
  }
}

// Body copy
@media screen and (min-width: 768px) {
  body,
  .bottom-section p,
  .filter-row h5,
  .filter-row .tags a {
    font-size: 20px;
  }

  .fixed-form,
  .footer,
  .title {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .overlay_image .product__item-image,
  .overlay_image .product__item-image img {
    visibility: hidden;
  }

  .overlay-product .qty {
    display: none;
  }

  .overlay-product a.btn {
    padding: 13.5px;
  }

  .collection__items .product__item {
    margin-bottom: 50px;
  }

  .collection__items .double-slot {
    max-width: 100%;
    flex-basis: 100%;
    height: auto;
    padding: 0 !important;
  }

  .collection__items .collection__banner {
    height: auto;
  }

  .collection__head.visible-xs-block {
    min-height: 200px;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .collection__head.visible-xs-block h6 {
    margin-bottom: 0 !important;
    font-family: 'Recoleta', arial, sans-serif;
    font-size: 32px !important;
    text-transform: unset;
    font-weight: 300;
    letter-spacing: normal;
  }
}

.tags h5,
.sort__label {
  display: none;
}

.collection-alt.bottom-section {
  .content {
    padding: 114px 20% 114px 20%;
    background: #faede5;
    max-width: 100%;
    flex-basis: 100%;
    text-align: center;

    &:after {
      background-image: none;
    }

    h2 {
      font-size: 3em;
    }
    p {
      font-size: 1.5em;
    }
  }
}

@media screen and (max-width: 767px) {
  .collection-alt.bottom-section {
    .content {
      padding: 15%;

      h2 {
        font-size: 2em;
      }
      p {
        font-size: 1em;
      }
    }
  }

  //TODO: remove
  .product__item .icons {
    visibility: hidden;
  }
}
