.email-validation-warning, .address-validation-warning {
  color: #e32c2b; 
}

.preorder-warning, .pobox-warning {
  margin-bottom: 1em; 
  font-weight: bold; 

  @media screen and (min-width: 1000px) {
    margin-top: 1.25em;
  }
}

.product__description__property {
  display: none;
}

.sidebar__message {
  padding: 20px 0;
  font-weight: bold;
  color: #084b6d;
}
