/* Search Results Page -------------- */ 
.search--default {
  padding: 0;

  .page__head {
    margin-bottom: 0;
  }
}

.best-sellers .product__item-image {
  margin-top: 37px;
}

.best-sellers__items {
  text-align: center;
}

