<div class="flex-row">
	{%- include 'breadcrumbs' -%}
</div>

<div class="container style-guide-container">
  <div class="container-header"> Our Fonts </div>
  <div class="box recoleta">
    <div class="box-title"> Recoleta Regular </div>
    <div style="font-size: 3em;"> AaBb </div>
    <div> A​B​C​D​E​F​G​H​I​J​K​L​M​N​O​P​Q​R​S​T​U​V​W​X​Y​Z​ </div>
    <div> a​b​c​d​e​f​g​h​i​j​k​l​m​n​o​p​q​r​s​t​u​v​w​x​y​z​ </div>
    <div> 1​2​3​4​5​6​7​8​9​0​ </div>
    <div> &​.​,​?​!​@​(​)​#​$​%​*​+​-​=​:​; </div>
  </div>
  <div class="box recoleta light">
    <div class="box-title"> Recoleta Light </div>
    <div style="font-size: 3em;"> AaBb </div>
    <div> A​B​C​D​E​F​G​H​I​J​K​L​M​N​O​P​Q​R​S​T​U​V​W​X​Y​Z​ </div>
    <div> a​b​c​d​e​f​g​h​i​j​k​l​m​n​o​p​q​r​s​t​u​v​w​x​y​z​ </div>
    <div> 1​2​3​4​5​6​7​8​9​0​ </div>
    <div> &​.​,​?​!​@​(​)​#​$​%​*​+​-​=​:​; </div>
  </div>
  <div class="box basis-grotesque-pro black">
    <div class="box-title"> Basis Grotesque Pro Black</div>
    <div style="font-size: 3em;"> AaBb </div>
    <div> A​B​C​D​E​F​G​H​I​J​K​L​M​N​O​P​Q​R​S​T​U​V​W​X​Y​Z​ </div>
    <div> a​b​c​d​e​f​g​h​i​j​k​l​m​n​o​p​q​r​s​t​u​v​w​x​y​z​ </div>
    <div> 1​2​3​4​5​6​7​8​9​0​ </div>
    <div> &​.​,​?​!​@​(​)​#​$​%​*​+​-​=​:​; </div>
  </div>
  <div class="box basis-grotesque-pro">
    <div class="box-title"> Basis Grotesque Pro Regular</div>
    <div style="font-size: 3em;"> AaBb </div>
    <div> A​B​C​D​E​F​G​H​I​J​K​L​M​N​O​P​Q​R​S​T​U​V​W​X​Y​Z​ </div>
    <div> a​b​c​d​e​f​g​h​i​j​k​l​m​n​o​p​q​r​s​t​u​v​w​x​y​z​ </div>
    <div> 1​2​3​4​5​6​7​8​9​0​ </div>
    <div> &​.​,​?​!​@​(​)​#​$​%​*​+​-​=​:​; </div>
  </div>
</div>

<div class="container style-guide-container">
  <div class="container-header"> Our Typography </div>
  <div class="box">
    <div class="box-title"> Eyebrow </div>
    <div class="eyebrow basis-grotesque-pro black"> I'm an Eyebrow </div>
    <div class="box-footer"> ALL CAPS; Font: Basis Grotesque Pro Black; Size: 22px. </div>
  </div>
  <div class="box">
    <div class="box-title"> Headline </div>
    <div class="headline recoleta light"> I'm a headline </div>
    <div class="box-footer"> Sentence case; Font: Recoleta Light; Size: 80px. </div>
  </div>
  <div class="box">
    <div class="box-title"> Sub Headline </div>
    <div class="sub-headline basis-grotesque-pro"> i'm a sub headline </div>
    <div class="box-footer"> Sentence case start with lower case; Font: Basis Grotesque Pro Regular; Size: 35px. </div>
  </div>
  <div class="box">
    <div class="box-title"> Body Copy </div>
    <div class="body-copy basis-grotesque-pro"> I'm a body copy </div>
    <div class="box-footer"> Sentence case; Font: Basis Grotesque Pro Regular; Size: 20px. </div>
  </div>
  <div class="box">
    <div class="box-title"> CTA </div>
    <div class="cta basis-grotesque-pro black"> I'm a CTA </div>
    <div class="box-footer"> Title Case; Font: Basis Grotesque Pro Bold; Size: 18px. </div>
  </div>
  <div class="box">
    <div class="box-title"> Disclaimer </div>
    <div class="disclaimer basis-grotesque-pro"> I'm a disclaimer </div>
    <div class="box-footer"> Sentence case; Font: Basis Grotesque Pro Regular; Size: 16px. </div>
  </div>
</div>

<div class="container style-guide-container">
  <div class="container-header"> Our Logo & Icon </div>
  {% section 'style-guide-logo-icon' %}
</div>

<div class="container style-guide-container">
  <div class="container-header"> Color Palette </div>
  <div class="box">
    <div class="box-title"> Background Color </div>
    <div class="horizontal-box-content">
      <div class="circle item light-text" style="background-color:#084b6d;"> #084b6d </div>
      <div class="circle item dark-text" style="background-color: #EFF0E8;"> #EFF0E8 </div>
      <div class="circle item dark-text" style="background-color: #D3DECA;"> #D3DECA </div>
      <div class="circle item dark-text" style="background-color: #F2F6F9;"> #F2F6F9 </div>
      <div class="circle item dark-text" style="background-color: #D1E5EA;"> #D1E5EA </div>
      <div class="circle item dark-text" style="background-color: #F7EDE5;"> #F7EDE5 </div>
      <div class="circle item dark-text" style="background-color: #EAC8C0;"> #EAC8C0 </div>
      <div class="circle item dark-text" style="background-color: #FFFDE8;"> #FFFDE8 </div>
      <div class="circle item dark-text" style="background-color: #EEECF1;"> #EEECF1 </div>
      <div class="circle item dark-text" style="background-color: #DCD9EA;"> #DCD9EA </div>
      <div class="circle item dark-text" style="background-color: #FDEFDC;"> #FDEFDC </div>
      <div class="circle item dark-text" style="background-color: #F7D8BE;"> #F7D8BE </div>
    </div>
  </div>
  <div class="box">
    <div class="box-title"> Text Color </div>
    <div class="horizontal-box-content">
      <div class="circle item light-text" style="background-color: #084b6d"> #084b6d </div>
      <div class="circle item dark-text" style="border: 1px solid #084b6d" style="background-color:  #FFFFFF"> #FFFFFF </div>
      <div class="circle item dark-text" style="background-color:  #BFCCB4"> #BFCCB4 </div>
      <div class="circle item dark-text" style="background-color:  #BAD6DA"> #BAD6DA </div>
      <div class="circle item dark-text" style="background-color:  #E0B0A8"> #E0B0A8 </div>
      <div class="circle item dark-text" style="background-color:  #E9DEAA"> #E9DEAA </div>
      <div class="circle item dark-text" style="background-color:  #B7B2D4"> #B7B2D4 </div>
      <div class="circle item dark-text" style="background-color:  #F0BB8F"> #F0BB8F </div>
      <div class="circle item light-text" style="background-color:  #234C0C"> #234C0C </div>
      <div class="circle item light-text" style="background-color:  #9A4050"> #9A4050 </div>
    </div>
  </div>
</div>

<div class="container style-guide-container">
  <div class="container-header"> Assets </div>
	<div class="box">
		<div class="box-title"> Prints & Patterns </div>
			{% section 'style-guide-patterns' %}
	</div>
	<div class="box">
		<div class="box-title"> Icons & Certifications </div>
		<div class="horizontal-box-content">
			{% section 'style-guide-icons' %}
		</div>
	</div>
	<div class="box">
		<div class="box-title"> Illustrations </div>
		<div class="horizontal-box-content">
			{% section 'style-guide-illustrations' %}
		</div>
	</div>
</div>

<style>
  .style-guide-container {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .style-guide-container .container-header {
    font-family: "Recoleta";
    background-color: #084B6D;
    font-size: 24px;
    font-weight: bolder;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .style-guide-container .recoleta {
    font-family: "Recoleta";
  }
  .style-guide-container .light {
    font-weight: lighter;
  }
  .style-guide-container .basis-grotesque-pro {
    font-family: "Basis Grotesque Pro";
  }
  .style-guide-container .black {
    font-weight: bolder;
  }
  .style-guide-container .horizontal-box-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .style-guide-container .item {
    margin: 5px;
  }
  .style-guide-container .box {
    border: 1px solid black;
    padding-bottom: 20px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .style-guide-container .box-title {
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
    background-color: #084B6D;
    color: white;
    border-radius: 50px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .style-guide-container .box-footer {
    font-size: 14px;
  }
  .style-guide-container .eyebrow {
    text-transform: uppercase;
    font-size: 22px;
  }
  .style-guide-container .headline {
    font-size: 80px;
  }
  .style-guide-container .sub-headline {
    font-size: 35px;
  }
  .style-guide-container .body-copy {
    font-size: 20px;
  }
  .style-guide-container .cta {
    text-transform: capitalize;
    font-size: 18px;
  }
  .style-guide-container .disclaimer {
    font-size: 16px;
  }
  .style-guide-container .circle {
    display: flex;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
  }
  .style-guide-container .light-text {
    color: white;
  }
  .style-guide-container .dark-text {
    color: #084b6d
  }
</style>