<div class="">
  <div class="">
    <div class="page__content">
      <div class="flex-row">
        {%- include 'breadcrumbs' -%}
      </div>
      {{- page.content -}}
    </div><!-- /.page__content -->
    {% section 'page-store-locator-template' %}
  </div>
</div><!-- /.container -->
