<div class="container">
	<div class="flex-row">
		{%- include 'breadcrumbs' -%}
	</div>
	<div class="page--default">
		<div class="page__head">
			<h2 class="page__title title--large">
				{{- page.title -}}
			</h2>
		</div><!-- /.page__head -->

		<div class="page__content">
			{{- page.content -}}
		</div><!-- /.page__content -->
	</div>
</div><!-- /.container -->
